* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.hidden {
  display: none;
}

/* Home Page */
.home-wrapper {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.info-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-container > h1 {
  letter-spacing: 0.1rem;
  margin: 0.2rem;
}
.info-container > h3 {
  margin: 0.2rem;
}

.info-container > button {
  color: white;
  width: 140px;
  height: 45px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  background-color: rgb(23, 8, 243);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 1.1rem;
}

.info-container > button:hover {
  background-color: #fff;
  box-shadow: 0px 15px 20px rgba(60, 164, 233, 0.4);
  color: rgb(23, 8, 243);
  transform: translateY(-7px);
}

/* Settings Page */

.settings-wrapper {
  height: 80vh;
}

.settings-wrapper > div > h1 {
  color: darkgreen;
  margin: 0.8rem;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px lightgrey;
  margin-top: 10%;
}

.settings-wrapper > div {
  text-align: center;
  margin: 15% auto 0 auto;
  width: 385px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.border {
  border: 5px solid darkgreen;
  border-radius: 5px;
  box-shadow: 5px 5px lightgreen;
}

.amount-input {
  text-align: center;
  font-size: 2rem;
  border: none;
  border: 1px solid darkgreen;
  border-radius: 5px;
}

.amount-wrapper > p {
  color: darkgreen;
  margin: 0 0 10px 0;
  font-size: 1.1rem;
}

.amount-wrapper > form {
  display: flex;
  flex-direction: column;
}

.amount-wrapper > form > button {
  height: 65px;
  width: 110px;
  margin: 15px auto;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: darkgreen;
  color: white;
  font-weight: 800;
  letter-spacing: 0.05rem;
  font-size: 1.1rem;
}
.amount-wrapper > form > button:hover {
  color: darkgreen;
  background-color: white;
  border: 3px solid darkgreen;
  transition: 0.2s;
}

/* Questions */

.questions-wrapper {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question-wrapper {
  height: 600px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.question-wrapper > h1 {
  text-align: center;
  color: darkgreen;
  margin: 0.8rem;
  padding: 5px;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px lightgrey;
  border-bottom: 5px solid green;
}

.question-wrapper > h2 {
  color: darkgreen;
  margin: 10px;
  overflow-wrap: normal;
}

.question-wrapper > button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: darkgreen;
  padding: 5px;
  margin: 1%;
  color: white;
  border-radius: 5px;
  font-size: 1.1rem;
}
.question-wrapper > button:hover {
  color: darkgreen;
  background-color: white;
  border: 1px solid darkgreen;
  transition: 0.2s;
}

.score {
  text-align: center;
  color: darkgreen;
  font-size: 1.2rem;
  margin-top: 10px;
}

/* Final Screen */

.final-wrapper {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.final-wrapper > h1 {
  text-align: center;
  color: darkgreen;
  margin: 0.8rem;
  padding: 5px;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px lightgrey;
  border-bottom: 5px solid green;
}

.final-wrapper > h3 {
  color: darkgreen;
  font-size: 1.2rem;
}

.final-wrapper > button {
  height: 45px;
  width: 110px;
  margin: 15px auto;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: darkgreen;
  color: white;
  font-weight: 800;
  letter-spacing: 0.05rem;
  font-size: 1.1rem;
}
.final-wrapper > button:hover {
  color: darkgreen;
  background-color: white;
  border: 3px solid darkgreen;
  transition: 0.2s;
}

/* Add Question */

.add-question {
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-question > h1 {
  text-align: center;
  margin: 10px auto;
  color: darkgreen;
}

.add-question > form {
  border: 3px solid darkgreen;
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: 20px auto;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.add-question > form > label {
  margin: 15px 0 3px 0;
}

.add-question > form > input {
  padding: 5px;
}

.submit-add {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: darkgreen;
  padding: 5px;
  margin: 10px auto;
  color: white;
  border-radius: 5px;
  font-size: 1.1rem;
  width: 200px;
}

/* Question List */

.question-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question-list-wrapper > h1 {
  text-align: center;
  color: darkgreen;
  margin: 0.8rem;
  padding: 5px;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px lightgrey;
  border-bottom: 5px solid green;
}

.question-list-wrapper > h3 {
  color: darkgreen;
}

.question-list-wrapper > button {
  height: 65px;
  width: 210px;
  margin: 15px auto;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: darkgreen;
  color: white;
  font-weight: 800;
  letter-spacing: 0.05rem;
  font-size: 1.1rem;
}

.question-list-wrapper > button:hover {
  color: darkgreen;
  background-color: white;
  border: 3px solid darkgreen;
  transition: 0.2s;
}

.individual-question {
  margin: 10px 0;
  width: 430px;
  font-size: 1.2rem;
}

/* Update questions */

.update-question-wrapper {
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.update-question-wrapper > h1 {
  text-align: center;
  margin: 10px auto;
  color: darkgreen;
}

.update-question-wrapper > form {
  border: 3px solid darkgreen;
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: 20px auto;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.update-question-wrapper > form > label {
  margin: 15px 0 3px 0;
}

.update-question-wrapper > form > input {
  padding: 5px;
}

.update-button {
  height: 45px;
  width: 120px;
  margin: 10px auto;
  background-color: darkblue;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
}
.delete-question {
  height: 45px;
  width: 120px;
  margin: 5px auto;
  background-color: red;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
}

.back-to {
  height: 45px;
  width: 120px;
  margin: 5px auto;
  background-color: darkgreen;
  color: white;
  cursor: pointer;
  outline: none;
  border: none;
}
